*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main{
  background-color: #cbc9c98c;
  min-height: 100vh;
}
.icon-nav{
    position: relative;
    color: #FFFFFF8C;
    /* overflow: hidden; */
  }
  .icon-nav:hover{  
    color: white;
  }
  .circle{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 12px;
    top: 14px;
    right: 80px;
  }
  
  section{
    min-height: 80vh;
  }

  /* style footer */
  footer{    
    position: static;
    bottom: 0;
    background-color: #808080;
  }
  


  /* sidebar */
  .sidebar{
    position: fixed;
    width: 250px;
    height: 98vh;
  }
  .sidebar a{
    text-decoration: none;
    color: white;
  }
  .sidebar li{
    list-style: none;
    padding: 10px 0;
  }
  .sidebar li:hover {
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    margin: 0;
  }
  .sidebar h5{
    font-size: 24px;
    font-weight: 800;
    color: white;
    text-align: center;
  }